body {
	margin: 0;
}

.app {
	background-color: #222;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.vis {
	position: relative;
	background-color: #333;
	padding: 40px 30px 20px;
}

.title,
.description {
	color: white;
	margin-top: 0;
	text-align: center;
}

.cell:hover {
	stroke: black;
	stroke-width: 2;
	height: 40px;
}

.axis {
	color: white;
}

.label {
	fill: white;
}

.legend {
	display: block;
	height: 80px;
	overflow: visible;
	color: white;
}
.legend g {
	color: white;
}

.tooltip {
	position: absolute;
	z-index: 99;
	pointer-events: none;
	opacity: 0;
	padding: 10px;
	background: #444;
	box-shadow: -1px 1px 12px -2px #111;
	border: 0px;
	border-radius: 4px;
}

.tooltip p {
	text-align: center;
	font-size: 14px;
	color: white;
	margin: 0;
	line-height: 1.5;
}

footer {
	color: white;
	margin: 10px;
	padding: 10px;
}

footer a {
	color: dodgerblue;
}
